<main class="main">
  <div>
    <ul>
      <li><a routerLink="./header-component" routerLinkActive="active">First Component</a></li>
      <li><a routerLink="./angular-directive-component" routerLinkActive="active">Second Component</a></li>
    </ul>
  </div>
  <h1>{{title}}</h1>
  <div class="common-design">
    <h1>Two way binding:{{names}}</h1>
    <input type="text" [(ngModel)] = "names">
  </div>

  <div class="content">
    <div class="left-side">
      <h1>app component html</h1>
      <app-header> </app-header>
    </div>
  </div>
  <app-angular-directives> </app-angular-directives>
</main>

<router-outlet />
