<main class="main">
  <div class="menu-bar">
    <ul>
      <li><a routerLink="./" routerLinkActive="active">App Component</a></li>
      <li><a routerLink="./header" routerLinkActive="active">Header Component</a></li>
      <li><a routerLink="./angular-directives" routerLinkActive="active">Directives Component</a></li>
      <li><a routerLink="./angular-pipes" routerLinkActive="active">Pipes Component</a></li>
    </ul>
  </div>
  <h1>{{title}}</h1>
  <div class="common-design">
    <h1>Two way binding:{{names}}</h1>
    <input type="text" [(ngModel)] = "names">
  </div>

  <div class="content">
    <div class="left-side">
      <h1>app component html</h1>
      <!-- <app-header> </app-header> -->
    </div>
  </div>
  <!-- <app-angular-directives> </app-angular-directives> -->

 


</main>

<router-outlet />
