<div>
  <h1>{{ Title }}</h1>
  <div>
    <img src="https://tse1.mm.bing.net/th?id=OIP.EEUsOsP1v5VCgLsMYJn1ggHaDs&pid=Api&P=0&h=220" alt="">
    <img src="https://lh7-us.googleusercontent.com/HqITG6XDRxSWmlEz5HMVWQrhZeypx4rpAf7wAmHkTfR4ZlDDAG2Y0P1tT8g_xU3tTTKB9DhK1XGPrt4NhWIrZSQvmeUqWyJk_DwTI5T8z0KPp2EislHL2ZGRL1vV8wB18BdnwSaiTXa42n7p0H4qZUg" alt="" srcset="">
  </div>
  <div class="directives">
    <img src="https://3.bp.blogspot.com/-2BRz18Vay2o/WJSqao6qvqI/AAAAAAAAAls/AgYdXsL_xJYM0jtlg4Tbev6M1NHQI7czQCEw/s1600/angularjs-directives-4-638.jpg" alt="">
  </div>
  <h3>
    In Angular, directives are classes that add additional behavior to elements
    in your Angular applications. You can attach them to elements in the DOM and
    manipulate the DOM and its behavior using these directives. There are three
    main types of directives in Angular:
  </h3>

  <ol>
    <li>Component Directives</li>
    <li>Structural Directives</li>
    <li>Attribute Directives</li>
  </ol>
  <p>
    1. Component Directives Component directives are the most common type of
    directives in Angular. They are basically Angular components, which have a
    template, styles, and logic. Each component is a directive with a template.
  </p>
</div>

<h1>{{ userlist }}</h1>

<ul class="no-dot">
  <li *ngFor='let user of users; let i = index; let o = odd; let e = even; let l = last; let f=first' [ngClass]="{ 'bg-success':e,'bg-warning':o, 'first-color':f,'last-color':l}">
      S.No <b>{{ i + 1 }}</b> - Name: <b>{{ user.name }}</b> - Email:
    S.No <b> {{ i + 1 }}</b> - Name: <b>{{ user.name }}</b> - Email:
   <b> {{ user.email }}</b>  -  Age: <b>{{ user.age }}</b>
  </li>
</ul> 


<div class="ngswitch">
  <h1>NgSwitch</h1>
<label for=""><b>Type num 1 to 5:</b></label>


  <input type="text" [(ngModel)]="num">

  <div [ngSwitch]="num">
  <div *ngSwitchCase="'1'"><b>One</b></div>
  <div *ngSwitchCase="'2'"><b>Two</b></div>
  <div *ngSwitchCase="'3'"><b>Three</b></div>
  <div *ngSwitchCase="'4'"><b>Four</b></div>
  <div *ngSwitchCase="'5'"><b>Five</b></div>
  </div>
  
</div>

