@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    padding: 20px;
 
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.left-section {
    background-color: #dbd0ca;
    background: url("/assets/img/6.jpg");
    object-fit: cover;
    background-size: cover; 
    border: 3px solid black;
}

.right-section {
	background: #c9caca; 
  border: 3px solid black;
}

@media (min-width: 768px) {
    .container {
        align-items: center; 
    }

    .left-section {
        height: 29rem; 
    }
}

@media all and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
 
}
.left-section {
  height: 29rem; 
  width: 100%;
}
.right-section {
  height: 29rem; 
  width: 100%;
}
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
margin: .5rem 0;
}

label{
  margin-right: 2rem;
  font-weight: 800;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.text-danger{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: red;
}

