
<h3 style="text-align: center; text-transform: uppercase; margin-top: 1rem; background-color: chartreuse; border: 1px solid black;">Employee Details form</h3>
<div class="container">
  <div class="left-section">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" formControlName="fullName">
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="text-danger">
              <div *ngIf="fullName?.errors?.['required']">Full Name is required</div>
              <div *ngIf="fullName?.errors?.['minlength']">Minimum length is 2 characters</div>
            </div>
          </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
              <div *ngIf="email?.errors?.['required']">Email is required</div>
              <div *ngIf="email?.errors?.['email']">Invalid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <div>
              <input type="radio" id="male" value="male" formControlName="gender">
              <label for="male">Male</label>
              <input type="radio" id="female" value="female" formControlName="gender">
              <label for="female">Female</label>
            </div>
            <div *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="text-danger">
              <div *ngIf="gender?.errors?.['required']">Gender is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="role">Job Title</label>
            <select id="role" formControlName="role">
              <option value="">Select Job Title</option>
              <option value="Manager">Manager</option>
              <option value="HR">HR</option>
              <option value="Developer">Developer</option>
              <option value="Tech Support">Tech Support</option>
            </select>
            <div *ngIf="role?.invalid && (role?.dirty || role?.touched)" class="text-danger">
              <div *ngIf="role?.errors?.['required']">Job Role is required</div>
            </div>
          </div>
          
            <div class="form-group">
              <label for="employmentStatus">Employment Status</label><br>
              <input type="radio" id="fullTime" name="employmentStatus" value="full-time" formControlName="employmentStatus">
              <label for="fullTime">Full-time</label><br>
              <input type="radio" id="partTime" name="employmentStatus" value="part-time" formControlName="employmentStatus">
              <label for="partTime">Part-time</label>
              <div *ngIf="!employmentStatus?.valid && (employmentStatus?.touched || employmentStatus?.dirty)" class="text-danger">
                <div *ngIf="employmentStatus?.errors?.['required']">Employment status is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="dateofjoin">Date of Join</label><br>
              <input type="date" id="dateofjoin" name="dateofjoin" value="date-of-join"formControlName="dateofjoin">
              <div *ngIf="!dateofjoin?.valid && (dateofjoin?.touched || dateofjoin?.dirty)" class="text-danger">
                <div *ngIf="dateofjoin?.errors?.['required']">Joining Date is required</div>
              </div>
            </div>
      
          <div formGroupName="address">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" formControlName="city">
              <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="text-danger">
                <div *ngIf="city?.errors?.['required']">City is required</div>
              </div>
            </div>
      
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" id="street" formControlName="street">
              <div *ngIf="street?.invalid && (street?.dirty || street?.touched)" class="text-danger">
                <div *ngIf="street?.errors?.['required']">Street is required</div>
              </div>
            </div>
      
            <div class="form-group">
              <label for="pincode">Pin Code</label>
              <input type="text" id="pincode" formControlName="pincode">
              <div *ngIf="pincode?.invalid && (pincode?.dirty || pincode?.touched)" class="text-danger">
                <div *ngIf="pincode?.errors?.['required']">Pin Code is required</div>
              </div>
            </div>
          </div>
      
          <button type="submit" [disabled]="employeeForm.invalid">Submit</button>
        </form>
    </div>
    
  <div class="right-section">
    <app-display-form *ngIf="employee" [employee]="employee"></app-display-form>
  </div>
</div>