<main class="main">
  <div class="menu-bar">
    <ul>
      <li><a routerLink="./details" routerLinkActive="active">Employees Enroll</a></li>
      <li><a routerLink="./display-details" routerLinkActive="active">Employees Details</a></li>
      <li><a routerLink="./not-found" routerLinkActive="active">Other</a></li>
    </ul>
  </div>
  
  <!---------------------------------- Menu Bar Starts -------------------------------------------- -->
 
 <!---------------------------------- Menu Bar Ends -------------------------------------------- -->




</main>

<router-outlet />
