<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#"><img src="https://www.pngmart.com/files/23/Free-Logos-PNG-Clipart.png" class="logo-img" alt=""></a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="./details" routerLinkActive="active">Employee Enrollment</a></li>
      <li><a routerLink="./display-details" routerLinkActive="active">Employee Details</a></li>
      <li><a routerLink="./not-found" routerLinkActive="active">Other</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>