<p>reactive-form works!</p>

<form [formGroup]="createForm" ngSubmit = "onsubmit()">
  <label>First Name:</label>
  <input type="text" formControlName="firstname" />
  <label>last Name:</label>
  <input type="text" formControlName="lastname" />
  <label>Email:</label>
  <input type="email" formControlName="email" />
  <select name="country" id="country" formControlName="country">
    <option *ngFor="let c of countrylist">{{ c }}</option>
  </select>
  <button type="submit"[disabled]=createForm.invalid>submit</button>
</form>


