<main class="main">
  <div class="menu-bar">
    <ul>
      <li><a routerLink="./" routerLinkActive="active">App Component</a></li>
      <li><a routerLink="./angular-basic" routerLinkActive="active">Basic Concepts</a></li>
      <li><a routerLink="./angular-directives" routerLinkActive="active">Directives Component</a></li>
      <li><a routerLink="./angular-pipes" routerLinkActive="active">Pipes Component</a></li>
    </ul>
  </div>
  
  <!---------------------------------- Menu Bar Starts -------------------------------------------- -->
  <nav>
    <div class="navbar">
      <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>  
        <div class="logo">
          <h1>Angular</h1>
        </div>
        <div class="menu-items">
          <li><a routerLink="./" routerLinkActive="active">App Component</a></li>
          <li><a routerLink="./angular-basic" routerLinkActive="active">Basic Concepts</a></li>
          <li><a routerLink="./angular-directives" routerLinkActive="active">Directives Component</a></li>
          <li><a routerLink="./angular-pipes" routerLinkActive="active">Pipes Component</a></li>
          <li><a routerLink="./angular-pipes" routerLinkActive="active">Forms Component</a></li>
        </div>
      </div>
    </div>
  </nav>
 <!---------------------------------- Menu Bar Ends -------------------------------------------- -->


  <h1 class="project-title">{{title}}</h1>
  <div class="content">
    <div class="left-side">
      <h1>app component html</h1>
      <h1>Angular Commands</h1>
      <img src="https://tse4.mm.bing.net/th?id=OIP.4GRVJHj7UgnqlI4gyuhyTwAAAA&pid=Api&P=0&h=220" alt="" srcset="">
      <!-- <app-angular-basic> </app-angular-basic> -->
    </div>
  </div>

  <!-- <p>{{_msg}}</p> -->
  
  <!-- <app-angular-directives> </app-angular-directives> -->

 


</main>

<router-outlet />
