<div class="container">
    <h3>Employee Enrollment Form</h3>
    <form [formGroup]="contactForm"(ngSubmit)="onSubmit()">
        <p>
          <label for="firstname">First Name </label>
          <input type="text" id="firstname" name="firstname" formControlName="firstName">
          <span  *ngIf="!firstname?.valid && (firstname?.touched || firstname?.dirty)">
             <span class="text-danger" *ngIf="firstname?.errors?.['required']">
                *Firstname is required
             </span>
             <span class="text-danger" *ngIf="firstname?.errors?.['minlength']">
                *Minimum length is 2 Character
             </span>
          </span>
        </p>
       
        <p>
          <label for="lastname">Last Name </label>
          <input type="text" id="lastname" name="lastname" formControlName="lastName">
          <span  *ngIf="!lastname?.valid && (lastname?.touched || lastname?.dirty)">
            <span class="text-danger" *ngIf="lastname?.errors?.['required']">
               *Lastname is required
            </span>
            <span class="text-danger" *ngIf="lastname?.errors?.['maxlength']">
               *Maximum length is 15 Characters
            </span>
            <span class="text-danger" *ngIf="lastname?.errors?.['pattern']">
               *Only characters are allowed
            </span>
         </span>
        </p>
      

        <p>
          <label for="isMarried">Married</label>
          <input type="radio" id="isMarried" name="isMarried" value="Yes" formControlName="isMarried"> Yes
          <input type="radio" id="isMarried" name="isMarried" value="No" formControlName="isMarried"> No
          <span *ngIf="isMarried?.invalid && (isMarried?.touched || isMarried?.dirty)">
            <span class="text-danger" *ngIf="isMarried?.errors?.['required']">Married status is required</span>
          </span>
        </p>

        <p>
          <label for="gender">Gender </label>
          <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
          <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
          <span  *ngIf="!gender?.valid && (gender?.touched || gender?.dirty)">
            <span class="text-danger" *ngIf="gender?.errors?.['required']">
               *Gender is required
            </span>
          </span>
        </p>

        <p>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" formControlName="email">
          <span *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            <span class="text-danger" *ngIf="email?.errors?.['required']">
              *Email is required
            </span>
            <span class="text-danger" *ngIf="email?.errors?.['email']">
              *Please enter a valid email address
            </span>
            <span class="text-danger" *ngIf="email?.errors?.['pattern']">
              *Email format is incorrect
            </span>
          </span>
        </p>
        


        <p>
          <label for="salary">Salary</label>
          <input type="number" id="salary" formControlName="salary">
          <span *ngIf="!contactForm.get('salary')?.valid && (contactForm.get('salary')?.touched || contactForm.get('salary')?.dirty)">
            <span class="text-danger" *ngIf="contactForm.get('salary')?.errors?.['required']">Salary is required</span>
            <span class="text-danger" *ngIf="contactForm.get('salary')?.errors?.['min']">Salary must be at least 1000</span>
            <span class="text-danger" *ngIf="contactForm.get('salary')?.errors?.['max']">Salary cannot exceed 100000</span>
          </span>
        </p>

  
        <div class="address-group" formGroupName="address">

          <div class="form-group">
            <label for="country">Country </label>
            <select id="country" name="country" formControlName="country">
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="England">England</option>
              <option value="Singapore">Singapore</option>
            </select>
            <span  *ngIf="!country?.valid && (country?.touched || country?.dirty)">
              <span class="text-danger" *ngIf="country?.errors?.['required']">
                 Country is required
              </span>
            </span>
          </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" formControlName="city" >
                <span  *ngIf="!city?.valid && (city?.touched || city?.dirty)">
                  <span class="text-danger" *ngIf="city?.errors?.['required']">
                     City is required
                  </span>
                </span>
            </div>

            
         
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" name="street" formControlName="street" >
                <span  *ngIf="!street?.valid && (street?.touched || street?.dirty)">
                  <span class="text-danger" *ngIf="street?.errors?.['required']">
                     Street is required
                  </span>
                </span>
            </div>
         
            <div class="form-group">
                <label for="pincode">Pin Code</label>
                <input type="text" class="form-control" name="pincode" formControlName="pincode">
                <span  *ngIf="!pincode?.valid && (pincode?.touched || pincode?.dirty)">
                  <span class="text-danger" *ngIf="pincode?.errors?.['required']">
                     Pincode is required
                  </span>
                </span>
            </div>
         
        </div>
        <p class="btn">
  
            <button type="submit" [disabled]="!contactForm.valid">{{ isEditMode ? 'Update' : 'Submit' }}</button>
            <button type="button" *ngIf="isEditMode" (click)="cancelEdit()">Cancel</button>
            <span *ngIf="!contactForm.valid && contactForm.touched" class="text-danger">*Please fill all required fields*</span>
        </p>

       
    </form>
</div>

  <h3>Employee List</h3>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>salary</th>
        <th>Gender</th>
        <th>Married</th>
        <th>Country</th>
        <th>City</th>
        <th>Street</th>
        <th>Pin Code</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <td>{{ employee.firstName | uppercase }}</td>
        <td>{{ employee.lastName | uppercase  }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.gender | uppercase  }}</td>
        <td>{{ employee.isMarried }}</td>
        <td>{{ employee.address.country | uppercase }}</td>
        <td>{{ employee.address.city | uppercase  }}</td>
        <td>{{ employee.address.street | uppercase  }}</td>
        <td>{{ employee.address.pincode }}</td>
        <td>
          <button (click)="editEmployee(i)">Edit</button>
        </td>

      </tr>
    </tbody>
  </table>
