

*{
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  color: red;
}
.handle {
  color: rgb(0, 0, 0);
  text-align: center;
}

.handleinputs {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: rgb(215, 216, 203);
padding: 1rem;
margin-top: 1rem;
}
