html, body {
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
.primary{
    background-color: red;
}